body
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 1.5rem;
}
.game-board
{
    display: none;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    justify-content: center;
}
button#start-game
{
    color: rebeccapurple;
    align-self: center;
    width: -moz-fit-content;
    width: fit-content;
    
}
a
{
    background-color: lightblue;
    color: maroon;
    font-size: 4rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex   ;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
[id="3"],[id="6"],[id="9"]
{
    border-right: none;
}
[id="7"],[id="8"],[id="9"]
{
    border-bottom: none;
}
dialog
{
    transform: scale(1.5);
}
form
{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
