body
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 1.5rem;
}
.scores
{
    display: none;
}
.game-board
{
    display: none;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
}
button#start-game
{
    color: rebeccapurple;
    width: -moz-fit-content;
    width: fit-content;
    align-self: center;
    font-size: 7rem;
    padding: 2rem;
    border-radius: 1rem;
    margin: auto;
}
a
{
    background-color: lightblue;
    color: maroon;
    font-size: 10rem;
    justify-content: center;
    align-items: center;
    display: flex   ;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}
[id="3"],[id="6"],[id="9"]
{
    border-right: none;
}
[id="7"],[id="8"],[id="9"]
{
    border-bottom: none;
}
dialog
{
    transform: scale(2);
}
form
{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}
